.Programming {
  text-align: start;

  &-language {
    margin: 8px 0px 4px 0px;
  }

  h3 {
    margin: 12px 0px 8px 0px;
  }

  &-frameworks {
    display: flex;
    flex-direction: row;

    div {
      width: 50%;
      text-align: center;
    }
    p {
      margin: 8px 0px;
    }
  }
}
