.Timeline {
  margin-left: 16px;
  border-left: 2px solid black;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px 0px;

  &-section {
    display: flex;
    margin-left: -11px;
    gap: 12px;
    align-items: center;
    margin-bottom: 32px;
  }
  
}
