.Navbar {
  display: flex;
  padding: 24px 32px;
  justify-content: space-between;

  &-emailIcon {
    margin-right: 12px;
  }

  &-emailContainer {
    display: flex;
  }

  &-navItemContainer {
    span {
      margin-inline: 16px;
    }
  }
}
