.ProgressBar {
  background-color: lightgray;
  height: 0.75em;
  border-radius: 1em;
  width: 100%;

  &-bar {
    height: inherit;
    background-color: black;
    border-radius: 1em;
  }

  &--red {
    background-color: rgb(255, 69, 58);
  }

  &--green {
    background-color: rgb(48, 209, 88);
  }

  &--mint {
    background-color: rgb(102, 212, 207);
  }
}
