.AboutView {
  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin: 48px 0px;
  }

  &-avatar {
    padding: 8px;

    img {
      height: 128px;
      width: 128px;
    }
  }

  &-headerText {
    display: flex;
    flex-direction: column;

    h1 {
      margin: auto;
    }

    span {
      color: lightgrey;
      margin: 12px 0px;
    }

    div {
      display: flex;
      gap: 16px;
      justify-content: center;
    }
  }

  &-body {
    margin-top: 16px;
    display: flex;
    gap: 16px;
  }

  &-primaryBody {
    display: flex;
    flex-direction: column;
    width: calc(50% - 8px);
    text-align: start;
    padding: 36px;

    br {
      margin: 8px 0px;
    }
  }

  &-secondaryBody {
    width: calc(50% - 8px);
    padding: 36px;
    text-align: start;
  }

  &-hobbyContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    span {
      margin-bottom: 4px;
    }
  }

  &-hobbyTitle {
    color: lightgray
  }

  @media (max-width: 992px) {
    &-header {
      flex-direction: column;
      gap: 0px;
    }
    &-body {
      flex-direction: column;
    }

    &-primaryBody {
      width: 100%;
    }

    &-secondaryBody {
      width: 100%;
    }
  }
}
